.hero {
    height: 100vh;
    width: 100%;
    background: white;
    font-family: sans-serif;
    position: relative;
    transition: 0.5s;
  
    .hero__nav img {
      width: 50px;
      cursor: pointer;
    }
  
    nav {
      width: 84%;
      margin: auto;
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .items {
        display: flex;
        justify-content: center;
        align-items: center;
  
        ul {
          flex: 1;
          text-align: right;
    
          li {
            display: inline-block;
            list-style: none;
            margin: 10px 20px;
    
            a {
              text-decoration: none;
              color: black;
              transition: all 0.5s;
            }
    
            a:hover {
              color: #1c0263;
              border-bottom: 1px solid #09079b;
            }
          }
        }
      }
    }
  
    .info {
      margin-left: 8%;
      margin-top: 15%;
  
      h1 {
        font-size: 70px;
        color: blacj;
        margin-bottom: 20px;
        transition: 0.5s;
      }
  
      span {
        color: #300fc5;
      }
  
      p {
        color: black;
        line-height: 22px;
        transition: 0.5s;
      }
  
      button {
        background: transparent;
        padding: 10px 18px;
        text-decoration: none;
        font-size: 20px;
        color: rgb(24, 2, 105);
        display: inline-block;
        margin: 30px 0;
        border: 1px solid rgb(24, 2, 105);
        border-radius: 20px;
        transition: all 1s;
      }
  
      button:hover {
        background: rgb(3, 5, 124);
        color: white;
      }
    }
  
    // .img-box {
    //   width: 45%;
    //   height: 80%;
    //   position: absolute;
    //   bottom: 0;
    //   right: 100px;
  
  
    //   img:nth-child(1) {
    //     height: 100%;
    //     position: absolute;
    //     left: 40%;
    //     bottom: 0;
    //     transform: translateX(-50%);
    //     transition: bottom 1s, left 1s;
    //   }
    //   img:nth-child(2) {
    //     height: 200px;
    //     position: absolute;
    //     left: 40%;
    //     bottom: 35%;
    //     transform: translateX(-50%);
    //     transition: all 2s, left 1s;
    //   }
    // }
  
    .img-box:hover .back-img {
      bottom: 40px;
    }
  
    .img-box:hover .main-img {
      bottom: 34%;
      height: 320px;
    }
  
    .social-links {
      margin-left: 8%;
      margin-top: 100px;
  
      a {
        font-size: 30px;
        color: black;
        margin-right: 20px;
        transition: 0.5s;
      }
  
      a:hover {
        color: #09079b;
      }
    }
  
  }
  